.App {
  width:400px;
  height:400px;
 display: grid;
 grid-template-columns: auto auto;

 /* background-color: black;   */
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p{
  font-weight: bold;
  font-family: Times;
  font-size: 25px;
}
.joinus{
  height: 30px;
  width: 150px;
  background-color: rgb(144, 191, 252);
  border-radius:50px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color:#fff;
  margin-bottom: 15px;
  border:none;
  margin-right: 15px;
  
}
.login{
  height: 30px;
  width: 150px;
  background-color: rgb(224, 153, 45);
  border-radius:50px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color:#fff;
  margin-bottom: 15px;
  border:none;
  margin-right: 15px;
}
.search{
  height: 30px;
  width: 150px;
  background-color: rgb(128, 221, 116);
  border-radius:50px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color:#fff;
  margin-bottom: 15px;
  border:none;
  margin-right: 15px;
}
.home{
  height: 30px;
  width: 150px;
  background-color: rgb(241, 78, 168);
  border-radius:50px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color:#fff;
  margin-bottom: 15px;
  border:none;
  margin-right: 15px;
}
.setting{
  height: 30px;
  width: 150px;
  background-color: rgb(162, 228, 135);
  border-radius:50px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color:#fff;
  margin-bottom: 15px;
  border:none;
  margin-right: 15px;
}
.contact{
  height: 30px;
  width: 150px;
  background-color: rgb(218, 85, 45);
  border-radius:50px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color:#fff;
  margin-bottom: 15px;
  border:none;
  margin-right: 15px;

}
.help{
  height: 30px;
  width: 150px;
  background-color: rgb(68, 53, 85);
  border-radius:50px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color:#fff;
  margin-bottom: 15px;
  border:none;
  margin-right: 15px;
}
.download{
  height: 30px;
  width: 150px;
  background-color: rgb(240, 219, 104);
  border-radius:50px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color:#fff;
  margin-bottom: 15px;
   border:none;
   margin-right: 15px;
  
}
